---
import Layout from "../layouts/Layout.astro";
import Testimonial from "../components/testimonial.astro";
const title = "Reviews";

//adjust these variable to change your content
const introText = "What Our Customers Say About Us";
const text1 =
  "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde temporibusdolor laudantium dolores, nihil nulla cupiditate optio corporis facilisaspernatur harum necessitatibus ab aliquid aperiam ex sequi exercitationemofficiis itaque.";
const customerTitle1 = "Customer Title";
const name1 = "customer Name";
const text2 =
  "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde temporibusdolor laudantium dolores, nihil nulla cupiditate optio corporis facilisaspernatur harum necessitatibus ab aliquid aperiam ex sequi exercitationemofficiis itaque.";
const customerTitle2 = "Customer Title";
const name2 = "customer Name";
const text3 =
  "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde temporibusdolor laudantium dolores, nihil nulla cupiditate optio corporis facilisaspernatur harum necessitatibus ab aliquid aperiam ex sequi exercitationemofficiis itaque.";
const customerTitle3 = "Customer Title";
const name3 = "customer Name";
---

<Layout title="Company Name | Reviews">
  <div
    class="flex h-[40vh] items-center justify-center bg-[url('/heroimg.webp')] bg-cover bg-center py-20 text-center text-6xl font-bold text-white shadow-xl"
  >
    <p
      transition:name="heroTxt"
      class="drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,4)]"
    >
      {title}
    </p>
  </div>
  <p transition:name="introTxt" class="m-10 text-center text-xl font-bold">
    {introText}
  </p>
  <Testimonial text={text1} customerTitle={customerTitle1} name={name1} />
  <Testimonial text={text2} customerTitle={customerTitle2} name={name2} />
  <Testimonial text={text3} customerTitle={customerTitle3} name={name3} />
</Layout>
