---
import Image from "astro/components/Image.astro";
import Button from "./button.astro";
const link = "/Services";

// this is an SEO related variable, only updated the last word if making changes
const name = "redirect to services";

// adjust these variable to change your content
const text = "About Our Services";
const serviceName1 = "Name of this service";
const serviceDescritption1 =
  "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde temporibusdolor laudantium dolores, nihil nulla cupiditate optio corporis facilisaspernatur harum necessitatibus ab aliquid aperiam ex sequi exercitationemofficiis itaque.";
const serviceName2 = "Name of this service";
const serviceDescritption2 =
  "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde temporibusdolor laudantium dolores, nihil nulla cupiditate optio corporis facilisaspernatur harum necessitatibus ab aliquid aperiam ex sequi exercitationemofficiis itaque.";
---

<section class="mb-20 mt-20 flex flex-col items-center gap-4 p-4 lg:flex-row">
  <div class="order-1 flex w-full justify-center lg:w-1/2">
    <div class="group relative w-fit max-w-md">
      <Image
        src="/work1.jpg"
        alt="completed work"
        class="mx-auto h-auto w-full max-w-xs rounded-xl shadow-lg sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl"
        width={500}
        height={500}
        loading="eager"
      />
      <div
        class="absolute inset-0 flex items-center justify-center rounded-lg bg-black opacity-0 transition-opacity duration-300 group-hover:opacity-50"
      >
        <span class="text-4xl text-white">{serviceName1}</span>
      </div>
    </div>
  </div>
  <div
    class="order-2 flex w-full flex-col items-center justify-center space-y-4 lg:w-1/2"
  >
    <p class="mx-10 text-center text-xl lg:text-left">
      {serviceDescritption1}
    </p>
    <!--delete if not in use -->
    <p class="font-bold">A List If Needed</p>

    <ul class="flex list-disc flex-col items-center text-xl">
      <li>part 1</li>
      <li>part 2</li>
      <li>part 3</li>
      <li>part 4</li>
    </ul>
    <!--end of list section -->
    <Button link={link} text={text} name={name} />
  </div>
</section>

<section class="flex flex-col items-center gap-4 p-4 lg:flex-row">
  <div
    class="order-2 flex w-full flex-col items-center justify-center space-y-4 lg:w-1/2"
  >
    <p class="mx-10 text-center text-xl lg:text-left">
      {serviceDescritption2}
    </p>
    <Button link={link} text={text} name={name} />
  </div>
  <div class="order-1 flex w-full justify-center lg:order-3 lg:w-1/2">
    <div class="group relative w-fit max-w-md">
      <!-- update the src to reflect the name if the image you imported in the public folder -->
      <Image
        src="/work2.jpg"
        alt="completed work"
        class="mx-auto h-auto w-full max-w-xs rounded-xl shadow-lg sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl"
        width={500}
        height={500}
        loading="eager"
      />
      <div
        class="absolute inset-0 flex items-center justify-center rounded-lg bg-black opacity-0 transition-opacity duration-300 group-hover:opacity-50"
      >
        <span class="text-4xl text-white">{serviceName2}</span>
      </div>
    </div>
  </div>
</section>
