---
import Image from "astro/components/Image.astro";

// adjust these variable to change your content
const title1 = "Services";
const subtitle1 = "One or two sentences about what your company offers.";
const title2 = "Services";
const subtitle2 = "One or two sentences about what your company offers.";
const title3 = "Services";
const subtitle3 = "One or two sentences about what your company offers.";
---

<section
  class="mx-auto mt-20 flex max-w-[80%] flex-col items-center justify-between rounded-lg border-y-8 border-blue-400 bg-neutral-950 px-10 py-20 text-center text-gray-100 shadow-lg dark:bg-neutral-900 dark:text-gray-200 lg:flex-row"
>
  <div class="h-96 w-64 overflow-hidden px-4">
    <p class="mb-4 text-4xl">{title1}</p>
    <!--Update the src to the name of the image uploaded to the public folder -->
    <Image
      src="/smallwork1.jpg"
      alt="example service"
      loading="eager"
      width={160}
      height={160}
      class="mx-auto rounded-full dark:shadow-lg sm:h-48 sm:w-48 md:h-56 md:w-56 lg:h-56 lg:w-56"
    />
    <p class="text-lg">{subtitle1}</p>
  </div>
  <div class="h-96 w-64 overflow-hidden px-4">
    <p class="mb-4 text-4xl">{title2}</p>
    <!--Update the src to the name of the image uploaded to the public folder -->
    <Image
      src="/smallwork2.jpg"
      alt="example service"
      loading="eager"
      width={160}
      height={160}
      class="mx-auto rounded-full dark:shadow-lg sm:h-48 sm:w-48 md:h-56 md:w-56 lg:h-56 lg:w-56"
    />
    <p class="text-lg">{subtitle2}</p>
  </div>
  <div class="h-96 w-64 overflow-hidden px-4">
    <p class="mb-4 text-4xl">{title3}</p>
    <!--Update the src to the name of the image uploaded to the public folder -->
    <Image
      src="/smallwork3.jpg"
      alt="example service"
      loading="eager"
      width={160}
      height={160}
      class="mx-auto rounded-full dark:shadow-lg sm:h-48 sm:w-48 md:h-56 md:w-56 lg:h-56 lg:w-56"
    />
    <p class="text-lg">{subtitle3}</p>
  </div>
</section>
